extends layouts/main
block content
    .form-container
        form(action=routes.join, method="post")
            input(type="text", name="name", placeholder="Full Name", reauired=true)
            input(type="email", name="email", placeholder="E-mail", reauired=true)
            input(type="password", name="password", placeholder="Password", reauired=true)
            input(type="password", name="password2", placeholder="Verify Password", reauired=true)
            input(type="submit", value="Join now")
        include partials/socialLogin